/* IMPORT */
@import "./_components/component.css";

/* COMMON */
:root {
  --blu: #2c3e50;
  --verde: #1abc9c;
  --blu-chiaro: #3a546d;
}

/* HEADER */
header {
  background-color: var(--blu);
}

/* SEZIONE UNO */
.one {
  background-color: var(--verde);
}

.one .img {
  height: 260px;
  width: 225px;
}

/* SEZIONE DUE */
.two {
  color: var(--blu);
}

/* SEZIONE TRE */
.three {
  background-color: var(--verde);
}

.three hr {
  width: 100%;
}

/* SEZIONE QUATTRO */
.four {
  color: var(--blu);
}

.four button {
  color: white;
  background-color: var(--verde);
}

/* FOOTER */
footer {
  color: white;
}

footer .top {
  background-color: var(--blu-chiaro);
}

footer .bottom {
  background-color: var(--blu);
}
