/* STAR COMPONENT */
.star::before,
.star::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 10%;
  background-color: currentColor;
  vertical-align: middle;
  border-radius: 20px;
}
